.color-picker {
  display: flex;
  width: 150px;
  height: 20px;
  justify-content: space-between;
  align-self: flex-end;

  .active:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "✓";
    font-size: 13px;
    line-height: 20px;
    color: #000;
    width: 20px;
    height: 20px;
    text-indent: 0;
    text-align: center;
  }

  &__color {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #333;
    text-indent: -999999px;

    &:hover {
      cursor: pointer;
    }

    &--yellow {
      background-color: #E9D460;
    }

    &--red {
      background-color: #EC644B;
    }

    &--blue {
      background-color: #59ABE3;
    }

    &--green {
      background-color: #87D37C;
    }

    &--purple {
      background-color: #9B59B6;
    }

    &--rose {
      background-color: #D2527F;
    }
  }
}